@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

:root {
  --customWhite: hsl(0, 0%, 100%);
  --slate300: hsl(212, 45%, 89%);
  --slate500: hsl(216, 15%, 48%);
  --slate900: hsl(218, 44%, 22%);
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  max-width: 100vw;
  height: 100vh;
  background-color: var(--slate300);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", sans-serif;
  font-style: normal;
}

.card {
  width: 320px;
  height: 499px;
  background: var(--customWhite);
  border-radius: 20px;
  padding: 16px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card > .image {
  width: 288px;
  height: 288px;
  background-image: url("./images/image-qr-code.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10px;
}

.card > .text-container {
  height: 131px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-container > .header {
  font-size: 1.375rem; /* 22px; */
  font-weight: 700;
  line-height: 120%;
  text-align: center;
  color: var(--slate900);
  font-style: normal;
  margin: 0;
}

.text-container > .subheader {
  font-weight: 400;
  text-align: center;
  font-size: 0.9375rem; /* 15px; */
  line-height: 140%;
  letter-spacing: 0.2px;
  color: var(--slate500);
  margin: 0;
}
